/**
 * @name Cat Theme
 * @version 0.9.0
 * @description A cat theme :)
 * @author eggy
 * @authorId 462223589043863562
 * @source https://github.com/eggytheegglmao/cat-betterdiscord-theme
*/


/*home icon*/

.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-KhRmzM .wrapper-25eVIn .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    background-image: url("https://data.whicdn.com/images/322332387/original.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-KhRmzM .wrapper-25eVIn .wrapper-1BJsBx .childWrapper-anI2G9 {
    background-image: url("https://data.whicdn.com/images/322332387/original.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}


/*removing discord logo*/

.homeIcon-FuNwkv {
    width: 0px;
}


/*font weight of the text*/

.appMount-3lHmkl * {
    font-weight: 500;
}

.content-98HsJk {
    z-index: auto;
}


/*changing link underlines and stuff*/

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/*user popouts background*/

.userPopout-xaxa6l {
    opacity: 1;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://wallpapercave.com/wp/wp4705107.jpg")
}


/*quickswitcher or the dialog that pops up by pressing ctrl + k*/

.quickswitcher-3JagVE {
    opacity: 1;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://wallpapercave.com/wp/wp4705107.jpg")
}

div.layer-v9HyYc>* {
    opacity: 1;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://wallpapercave.com/wp/wp4705107.jpg");
}

.layout-2DM8Md:hover * {
    color: black;
}

div.channelTextArea-rNsIhG>* {
    opacity: 1;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://wallpapercave.com/wp/wp4705107.jpg");
}

.autocompleteInner-zh20B_.autocompleteInner-2mQ2AK {
    opacity: 1;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://wallpapercave.com/wp/wp4705107.jpg");
}

.container-1D34oG {
    background: transparent;
}

:root {
    --main-bg: url("https://wallpapercave.com/wp/wp4705107.jpg");
    --background-primary: #0000001a;
    --background-secondary: #0000001a;
    --background-secondary-alt: #0000001a;
    --background-tertiary: #0000001a;
    --background-accent: #0000001a;
    --background-floating: #0000001a;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: #ffea61;
    --background-modifier-active: #ffea61;
    --background-modifier-selected: #ffea61;
    --background-modifier-accent: rgb(150, 142, 142);
    --header-primary: #ffea61;
    --header-secondary: #ffea61;
    --text-normal: #ffea61;
    --text-muted: #ffea61;
    --text-link: #ffea61;
    --text-link-low-saturation: #ffea61;
    --text-positive: #ffea61;
    --text-warning: #ffea61;
    --text-danger: #ffea61;
    --text-brand: #ffea61;
    --interactive-normal: #ffea61;
    --interactive-hover: black;
    --interactive-active: black;
    --interactive-muted: #4f545c;
    --channels-default: #ffea61;
    --member-listing-role-color: #000000;
    --scrollbar-thin-thumb: #ffea61;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #ffea61;
    --scrollbar-auto-track: #00000000;
    --scrollbar-auto-scrollbar-color-thumb: #ffea61;
    --scrollbar-auto-scrollbar-color-track: #00000000;
    --deprecated-quickswitcher-input-background: black;
}

.grid-1nZz7S {
    opacity: 1;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://wallpapercave.com/wp/wp4705107.jpg")
}

.avatar-1BDn8e.clickable-1bVtEA {
    border: 2px solid #faea84;
}

.appMount-3lHmkl {
    background-image: var(--main-bg);
    background-size: cover
}


/*friends page background*/

.theme-dark .container-1D34oG {
    background-color: initial
}


/* nitro page background*/

.applicationStore-1pNvnv {
    background-color: initial
}


/* dialog background */

div[role="dialog"]>* {
    background-image: var(--main-bg);
}

.icon-27yU2q {
    border: 2px solid #faea84;
}


/*discord titlebar logo changed to "CATCORD"*/

.titleBar-AC4pGV .wordmark-2iDDfm svg {
    width: 0;
}

.titleBar-AC4pGV .wordmark-2iDDfm::after {
    content: "CATCORD";
    position: absolute;
    font-weight: bolder;
    background: #faea84;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 15px;
    top: 5px;
    width: 135px;
}

.icon-22AiRD:hover>* {
    color: black
}